<section>
  <div
    class="bg-white h-screen flex items-center justify-center bg-gradient-to-br from-blue-200 via-white to-blue-200"
  >
    <div class="rounded-xl">
      <div class="flex items-center gap-2 mb-20">
        <span class="text-blue-600 text-2xl"
          ><img src="/icon/Logo.svg" class="w-[110px]" alt="logo.." />
        </span>
        <span class="font-medium text-lg text-blue-600"></span>
      </div>

      <h1 class="text-2xl font-semibold text-gray-900 leading-snug mb-8">
        Empower your learning journey<br />
        with our smart exam platform.
      </h1>

      <div class="flex gap-6 mb-6">
        <div class="w-9 h-9 text-blue-600 mt-1">
          <img src="/icon/Icon1.svg" class="w-[110px]" alt="icon..1" />
        </div>
        <div>
          <h3 class="font-semibold text-blue-600 font-sans">
            Tailored Diplomas
          </h3>
          <p class="text-sm text-gray-600 w-[250px]">
            Choose from specialized tracks like Frontend, Backend, and Mobile
            Development.
          </p>
        </div>
      </div>

      <div class="flex items-center gap-6 mb-14">
        <div class="w-9 h-9 text-blue-600">
          <img src="/icon/Icon 2.svg" class="w-[110px]" alt="icon..2" />
        </div>
        <div>
          <h3 class="font-semibold text-blue-600 font-sans">Focused Exams</h3>
          <p class="text-sm text-gray-600 w-[220px]">
            Access topic-specific tests including HTML, CSS, JavaScript, and
            more.
          </p>
        </div>
      </div>

      <div class="flex items-center gap-6">
        <div class="w-9 h-9 text-blue-600 mb-8">
          <img src="/icon/Icon 3.svg" class="w-[110px]" alt="icon..3" />
        </div>
        <div>
          <h3 class="font-semibold text-blue-600 font-sans">
            Smart Multi-Step Forms
          </h3>
          <p class="text-sm text-gray-600 w-[250px]">
            Choose from specialized tracks like Frontend, Backend, and Mobile
            Development.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
