<section class="grid lg:grid-cols-12 h-screen mx-auto">
  <div class="col-span-6 bg-gray-200 h-screen">
    <feature-list featureList="feature-list"></feature-list>
  </div>

  <!-- Login -->
  <div
    class="col-span-6 rounded p-4 mx-auto h-screen w-full flex items-center justify-center bg-white"
  >
    <form class="w-[80%]">
      <div class="relative my-3">
        <div class="my-8">
          <h2 class="text-2xl font-bold my-2">Create a New Password</h2>
          <p class="font-mono">
            Create a new strong password for your account.
          </p>
        </div>
        <label for="email" class="main-label font-mono">New Password</label>
        <input type="password" id="" class="main-input" placeholder="......" />
      </div>
      <div class="relative my-5">
        <label for="" class="main-label font-mono">Confirm New Password</label>
        <input
          type="password"
          id="password"
          class="main-input"
          placeholder="......"
        />
      </div>

      <button class="btn my-6 font-mono">Reset Password</button>
      <div class="flex items-center space-x-1 justify-center font-sans">
        <span>Don t have an account?</span>
        <span class="text-blue-800 cursor-pointer font-bold">Create yours</span>
      </div>
    </form>
  </div>
</section>
