<section class="grid lg:grid-cols-12 h-screen mx-auto">
  <div class="col-span-6 bg-gray-200 h-screen">
    <feature-list featureList="feature-list"></feature-list>
  </div>

  <!-- Login -->
  <div
    class="col-span-6 rounded p-4 mx-auto h-screen w-full flex items-center justify-center bg-white"
  >
    <form class="w-[80%]">
      <h2 class="mb-4 font-bold text-4xl">Forgot Password</h2>
      <p class="font-sans">
        Don’t worry, we will help you recover your <br />
        account.
      </p>
      <div class="relative my-8">
        <label for="email" class="main-label">Email</label>
        <input
          type="email"
          id=""
          class="main-input"
          placeholder="user@example.com"
          required
        />
      </div>

      <button class="btn my-6 font-sans">Continue</button>
      <div class="flex items-center space-x-1 justify-center font-sans">
        <span>Don t have an account?</span>
        <span class="text-blue-800 cursor-pointer font-bold">Create yours</span>
      </div>
    </form>
  </div>
</section>
