<section class="grid lg:grid-cols-12 h-screen mx-auto">
  <div class="col-span-6 bg-gray-200 h-screen">
    <feature-list featureList="feature-list"></feature-list>
  </div>

  <!-- Login -->
  <div
    class="col-span-6 rounded p-4 mx-auto h-screen w-full flex items-center justify-center bg-white"
  >
    @if (step===1) {
    <form [formGroup]="verifyEmawil" (ngSubmit)="formStep1()" class="w-[80%]">
      <h2 class="mb-4 font-bold text-4xl">Forgot Password</h2>
      <p class="font-sans">
        Don’t worry, we will help you recover your <br />
        account.
      </p>

      <div class="relative my-8">
        <app-input
          [control]="verifyEmawil.get('email')"
          [typeInput]="'email'"
          [idInput]="'email'"
          [labelInput]="'Email'"
          [placeholderInput]="'user@example.com'"
        ></app-input>
      </div>

      <button class="btn my-6 font-sans">
        Continue <i class="fa-solid fa-arrow-right"></i>
      </button>
      <div class="flex items-center space-x-1 justify-center font-sans">
        <span>Don t have an account?</span>
        <span
          class="text-blue-600 cursor-pointer font-bold hover:text-blue-900"
        >
          <a routerLink="/createaccount">Create yours</a>
        </span>
      </div>
    </form>

    } @else if (step===2) {
    <form [formGroup]="verifyCode" (ngSubmit)="formStep2()" class="w-[80%]">
      <div class="my-8">
        <span class="border p-3 cursor-pointer">
          <i class="fa-solid fa-arrow-left fa-xl"></i>
        </span>
      </div>
      <h2 class="mb-8 font-bold text-4xl">Verify OTP</h2>
      <p class="w-1/2 font-sans">
        Please enter the 6-digits code we have sent to: user@example.com. Edit
        <a class="text-blue-700 font-bold cursor-pointer underline decoration-2"
          >Email</a
        >
      </p>

      class="relative my-8">
      <app-input
        [control]="verifyCode.get('resetCode')"
        [typeInput]="'text'"
        [idInput]="'resetCode'"
        [labelInput]="'ResetCode'"
        [placeholderInput]="'.....'"
      ></app-input>

      <p class="text-center font-sans">You can request another code in: 60s</p>

      <button class="btn my-6 font-sans">Verify Code</button>
      <div class="flex items-center space-x-1 justify-center font-sans">
        <span>Don t have an account?</span>
        <span class="text-blue-800 cursor-pointer font-bold">
          <a routerLink="/createaccount">Create yours</a>
        </span>
      </div>
    </form>
    } @else if (step===3) {
    <form [formGroup]="resetPassword" (ngSubmit)="formStep3()" class="w-[80%]">
      <div class="relative my-3">
        <div class="my-8">
          <h2 class="text-2xl font-bold my-2">Create a New Password</h2>
          <p class="font-mono">
            Create a new strong password for your account.
          </p>
        </div>
        <app-input
          [control]="resetPassword.get('email')"
          [typeInput]="'email'"
          [idInput]="'password'"
          [labelInput]="'email'"
          [placeholderInput]="'.......'"
        ></app-input>
      </div>
      <div class="relative my-5">
        <app-input
          [control]="resetPassword.get('newPassword')"
          [typeInput]="'password'"
          [idInput]="'rePassword'"
          [labelInput]="'RePassword'"
          [placeholderInput]="'.......'"
        ></app-input>
      </div>

      <button class="btn my-6 font-mono">Reset Password</button>
      <div class="flex items-center space-x-1 justify-center font-sans">
        <span>Don t have an account?</span>
        <span class="text-blue-800 cursor-pointer font-bold">
          <a RouterLink="/createaccount">Create yours</a>
        </span>
      </div>
    </form>
    }
  </div>
</section>
