<section class="grid lg:grid-cols-12 h-screen mx-auto">
  <div class="col-span-6 bg-gray-200 h-screen">
    <feature-list featureList="feature-list"></feature-list>
  </div>

  <!-- Login -->
  <div
    class="col-span-6 rounded p-4 mx-auto h-screen w-full flex items-center justify-center bg-white"
  >
    <form [formGroup]="loginForm" (ngSubmit)="getValuesLogin()" class="w-[80%]">
      <h2 class="mb-8 font-light text-4xl">Login</h2>
      <app-input
        [control]="loginForm.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        [labelInput]="'Email'"
        [placeholderInput]="'user@example.com'"
      ></app-input>
      <div class="relative my-3">
        <app-input
          [control]="loginForm.get('password')"
          [typeInput]="'password'"
          [idInput]="'password'"
          [labelInput]="'Password'"
          [placeholderInput]="'.......'"
        ></app-input>
      </div>
      <a routerLink="/forgotpassword">
        <h3
          class="text-end cursor-pointer text-blue-800 font-sans hover:text-blue-600"
        >
          Forgot youI password?
        </h3>
      </a>

      <button class="btn my-6">Login</button>
      <div class="flex items-center space-x-1 justify-center font-sans">
        <span>Don t have an account?</span>
        <a routerLink="/createaccount">
          <span
            class="text-blue-600 cursor-pointer font-bold hover:text-blue-900"
          >
            Create yours</span
          >
        </a>
      </div>
    </form>
  </div>
</section>
