<section class="grid lg:grid-cols-12 h-screen mx-auto">
  <div class="col-span-6 bg-gray-200 h-screen">
    <feature-list featureList="feature-list"></feature-list>
  </div>

  <!-- Login -->
  <div
    class="col-span-6 rounded p-4 mx-auto h-screen w-full flex items-center justify-center bg-white"
  >
    <form class="w-[80%]">
      <h2 class="mb-8 font-light text-4xl">Login</h2>
      <div class="relative my-3">
        <label for="email" class="main-label">Email</label>
        <input
          type="email"
          id="email"
          class="main-input"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div class="relative my-3">
        <label for="email" class="main-label">Password</label>
        <input
          type="password"
          id="password"
          class="main-input"
          placeholder=""
          required
        />
      </div>
      <h3 class="text-end text-blue-600 font-sans">Forgot youI password?</h3>

      <button class="btn my-6">Login</button>
      <div class="flex items-center space-x-1 justify-center font-sans">
        <span>Don t have an account?</span>
        <span class="text-blue-800 cursor-pointer font-bold">Create yours</span>
      </div>
    </form>
  </div>
</section>
